@model IEnumerable<MASAIO.App.ViewModels.ProdutoViewModel>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<p style="padding-top: 20px">
    <a asp-action="Create">Novo Produto</a>
</p>

<partial name="_ListaProdutos"/>
